---
import Pagination from "@/components/widgets/Pagination.astro";
import PostList from "@/components/widgets/PostList.astro";
import { themeConfig } from "@/config";
import { defaultLocale, getTranslations } from "@/i18n";
import IndexLayout from "@/layouts/IndexLayout.astro";
import { getSortedPostsByLocale } from "@/utils/i18n-content";
import { POSTS_PER_PAGE, paginatePosts } from "@/utils/pagination";

export async function getStaticPaths() {
	const locale = defaultLocale;
	const allPosts = await getSortedPostsByLocale(locale);
	const totalPages = Math.ceil(allPosts.length / POSTS_PER_PAGE);

	const paths = [];
	for (let page = 2; page <= totalPages; page++) {
		paths.push({ params: { page: String(page) } });
	}

	return paths;
}

const locale = defaultLocale;
const t = getTranslations(locale);
const { page } = Astro.params;
const pageNum = parseInt(page || "1", 10);

if (pageNum === 1) {
	return Astro.redirect("/blog/");
}

const allPosts = await getSortedPostsByLocale(locale);
const { posts, currentPage, totalPages } = paginatePosts(allPosts, pageNum);

if (currentPage !== pageNum || posts.length === 0) {
	return Astro.redirect("/blog/");
}

const pageTitle = `${t.ui.page} ${currentPage} - ${themeConfig.site.title}`;
---

<IndexLayout title={pageTitle} description={themeConfig.site.description} locale={locale}>
  <div data-pagefind-ignore="all">
    <PostList posts={posts} locale={locale} />
    <Pagination currentPage={currentPage} totalPages={totalPages} locale={locale} basePath="/blog" />
  </div>
</IndexLayout>
