---
import "@/styles/global.css";
import BaseHead from "@/components/layout/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import FloatingActions from "@/components/ui/FloatingActions.astro";
import GradientMask from "@/components/ui/GradientMask.astro";
import { defaultLocale, type Locale } from "@/i18n";
import BaseLayout from "@/layouts/BaseLayout.astro";

interface Props {
	title: string;
	description: string;
	locale?: Locale;
	feedSection?: string;
}

const { title, description, locale = defaultLocale, feedSection } = Astro.props;
---

<BaseLayout title={title} description={description} type="page" locale={locale}>
  <BaseHead title={title} description={description} locale={locale} feedSection={feedSection} slot="head" />
  <div class="page-content">
    <GradientMask />
    <div>
      <Header locale={locale} />
    </div>
    <main id="main-content">
      <slot />
    </main>
    <div>
      <Footer locale={locale} />
    </div>
    <FloatingActions locale={locale} isDetailPage={false} />
  </div>
</BaseLayout>

<style is:global>
  .page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .page-content main {
    flex: 1;
  }
</style>
